
<h2>Celebrity Details</h2>

<h3>{{celebrity.name}}</h3>
<h4>Occupation: {{celebrity.occupation}}</h3>
<h4>Catch Phrase: {{celebrity.catchPhrase}}</h3>
{{!-- <h4>Casted in: <a href="/movies/{{celebrity.movies._id}}">{{celebrity.movies.title}}</a></h4> --}}

<a href="/celebrities/{{celebrity._id}}/edit">Edit Celeb</a>